.Phonetics a {
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    transition: all 140ms ease-in-out;
    width: 10px;
    margin: 20px 0px 0px 0px;
 
    
}

.Phonetics a:hover {
    background: palevioletred;
    color:aliceblue;
}
.Phonetic {
    margin: 20px 0;
  }

  .small, small {
    font-size: .875em
}